.edit-inputs {
}
.edit-inputs label {
	width: 100%;
	display: block;
	margin-bottom: 5px;
}
.edit-inputs span {
	width: 65px;
	text-align: end;
	display: inline-block;
}
.edit-inputs input {
	margin-left: 5px;
	background: none;
	color: white;
	padding: 5px 7px;
	border: 1px solid white;
	border-radius: 5px;
}
