.header {
	background: #17212b;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.header-left {
	display: flex;
	align-items: center;
}
.header-right {
	display: flex;
	align-items: center;
	text-align: end;
}
.header-left p {
	margin-right: 20px;
}
.header-title {
	font-size: 18px;
}
.header-messages-count,
.header-users-count {
	margin-right: 3px !important;
}
.header-last-message-date {
	margin-left: 3px;
}
a {
	display: flex;
	text-decoration: none;
}
